.container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
}

.link {
  color: white;
  text-decoration: none;
}
